* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #e9e9e9;
}

.wrapper {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 100%;
  max-width: 40rem;
  background: white;
  position: relative;
  padding: 10rem 0;
  box-shadow: 0 1px 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  z-index: 1;
}

.form-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 24rem;
  background: linear-gradient(to left, rgb(10, 70, 85), rgb(71, 167, 231));
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  z-index: -1;
}

.form-heading {
  color: white;
  font-size: 2.25rem;
  position: absolute;
  top: 3rem;
  left: 10rem;
}

form {
  transform: translateX(10rem);
  padding: 2rem 0;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 1px 1.5rem rgba(0, 0, 0, 0.1);
}

.input-group {
  width: 90%;
  margin: 0 auto;
  position: relative;

  /* Make sure my icons are completely lined up with my inputs */
  display: flex;
  align-items: baseline;
}

.input-group input {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  margin-top: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
}

.input-group > i {
  font-size: 1.75rem;
  margin-right: 0.75rem;
}

.input-group .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 1px;
}

.input-group .bar::before {
  content: '';
  position: absolute;
  background: rgb(14, 101, 122);
  width: 0;
  height: 2px;
  transition: width 650ms;
}

.input-group input:focus + .bar::before {
  width: 100%;
}

.input-group button {
  margin: 2.5rem auto;
  padding: 0.5rem 3rem;
  background: linear-gradient(to left, rgb(10, 70, 85), rgb(71, 167, 231));
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 3rem;
  outline: none;
  transform: scale(1);
  transition: transform 650ms;
}

.input-group button:focus,
.input-group button:hover {
  background: linear-gradient(to right, rgb(10, 70, 85), rgb(71, 167, 231));
  transform: scale(1.1);
}

.switch-login {
  text-align: center;
}

.switch-login a {
  text-decoration: none;
  color: #a1a1a1;
  font-size: 1.2rem;
}

.switch-login a span {
  color: rgb(71, 167, 231);
}

.switch-login a span:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid rgb(71, 167, 231);
}

@media (max-width: 1000px) {
  .form-container::before {
    height: 10rem;
  }

  .form-heading {
    /* Center the heading */
    left: 50%;
    transform: translateX(-50%);
  }

  form {
    border-radius: initial;
    transform: initial;
    box-shadow: none;
  }
}
